<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>{{x}} x {{y}} Checkboard</h1>
  <div class="bourd">
    {% for j in range(y): %}
        {% for i in range(x): %}
            {%if(j+i)%2 == 0:%}
                <span class="box1" style="background-color: {{color1}};"></span>
            {%else:%}
                <span class="box2" style="background-color: {{color2}};"></span>
                
            {%endif%}
            
        {% endfor %}
        <br>
    {% endfor %}
</div>

</body>
</html>

