body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.board {
    display: inline-block;
    margin-top: 20px;
}

.row {
    display: flex;
}

.box {
    width: 40px;
    height: 40px;
}
.box1,.box2 {
  width: 80px;
  height: 80px;
  border:2px solid rgb(8, 115, 255);
  display: inline-block;
}
.box1{
  background-color: rgb(1, 56, 255);
}

.box2{
  background-color: rgb(251, 0, 0);
}