body {
  font-family: Arial, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

.container {
  width: 970px;
  margin: 0 auto;
  background: #fff;
}


.header {
  background: #306998;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
}

.search {
  color: #fff;
}

.search input,.search button,.search select {
  padding: 5px;
  margin-left: 5px;
}


.navbar {
  background: #4B8BBE;
}

.nav-list a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 8px;
  margin-left: 3px;
}

.nav-list a:hover {
  opacity: 50%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  flex: 1;
}

.navbar a {
  display: block;
  text-align: right;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background: #306998;
}


.main {
  display: flex;
  background: #e4e4e4;
  padding: 20px;
}

.sidebar {
  width: 500px;
}

.sidebar ul {
  list-style: disc inside;
  padding: 0;
}

.sidebar a {
  text-decoration: none;
  color: #306998;
}

.content {
  flex: 1;
  margin-left: 20px;
}


.quote {
  margin-top: 20px;
  color: #FFD43B;
  font-weight: bold;
  text-align: center;
}


.bottom {
  display: flex;
  border-top: 2px solid #ccc;
  margin-top: 20px;
}

.box {
  flex: 1;
  padding: 20px;
}

.box h3 {
  margin-top: 0;
  color: #306998;
}

.box ul {
  list-style: disc inside;
  padding: 0;
}

.box a {
  text-decoration: none;
  color: #4B8BBE;
}


.footer {
  background: #306998;
  text-align: center;
  padding: 15px;
}

.footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}