{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos & Ninjas with Template</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>
    <div class="forms">
        <form action="{% url 'add_dojo' %}" method="post">
            {% csrf_token%}
            <h1>Add a Dojo</h1>
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Dojo name">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter Dojo city">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" name="state" placeholder="Enter Dojo state">
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <form action="{% url 'add_ninja' %}" method="post">
            {% csrf_token %}
            <h1>Add a Ninja</h1>
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter Ninja first name">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Ninja last name">
            <label for="dojo_id">Dojo:</label>
            <select class="form-select row" id="dojo_id" name="dojo_id">
                {% for dojo in Dojo %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

    <h1>All the Dojos</h1>
    {% for dojo in Dojo %}
    <h2>Ninjas at the {{dojo.name}} ({{dojo.ninjas.count}})</h2>
    <form action="{% url 'delete_dojo' dojo.id %}" method="post">
        {% csrf_token %}
        <button>Delete Dojo</button>
    </form>
    {% for ninja in dojo.ninjas.all %}
    <h2>{{ninja.first_name}} {{ninja.last_name}}</h2>
    {% endfor %}
    {% endfor %}
</body>

</html>