

section.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: table-caption;
    
}

.form-group {
    flex-direction: column;
    display: flex;
}
